<div class = "container">
  
              <div class = "jumbotron" style="background-color: #F7A831; border-radius:0 !important;">
                  
                  <div class="card w-100" style="margin-bottom:50px; margin-top: -50px;">               
                    <div class="card-body">
                      <h4 class="card-title">Weight Input!</h4>
                      <p class="card-text">Use this to enter your weight (in pounds).</p>
                      <div class="form-group" style = "margin-bottom:50px; width: 25%;">
                            <input id="weight" type="number" class="form-control">                   
                      </div>
                      <button type="button" class="button1" id = "b1" (click) = "button0Click()">Add to progress</button>
                    </div>
                  </div>
                  <div class="card w-100" style="margin-bottom:10px; margin-top: -50px;">               
                      <div class="card-body">
                        <h4 class="card-title">Exercise Input!</h4>
                        <p class="card-text">Use this to select your exercise, and how much of it you did.</p>
                      </div>
                  </div>
                  <div class = "row">
                      <div class = "col-md-6">
                          <div class="card">
                              <div class="card-body">
                                  <h4 class="card-title">Sit-Ups</h4>
                                  <p class="card-text">How many?</p>
                                  <div class="form-group">
                                      <input id="situps" type="number" class="form-control">                   
                                  </div>
                                  <p class="card-text">What time?</p>
                                  <div class="form-group">
                                      <input id="time1" type="text" class="form-control">                   
                                  </div>
                                  <button type="button" class="button1" id = "b1" (click) = "button1Click()">Add to list</button>
  
                              </div>
                          </div>
                          <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Push-Ups</h4>
                                <p class="card-text">How many?</p>
                                <div class="form-group">
                                  <input id="pushups" type="number" class="form-control">                   
                                </div>
                                <p class="card-text">What time?</p>
                                <div class="form-group">
                                    <input id="time2" type="text" class="form-control">                   
                                </div>
                                <button type="button" class="button1" id = "b2" (click) = "button2Click()">Add to list</button>
                              </div>
                          </div>
  
                          <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Running</h4>
                                <p class="card-text">How long (in minutes)?</p>
                                <div class="form-group">
                                  <input id="runningtime" type="number" class="form-control">                   
                                </div>
                                <p class="card-text">What time?</p>
                                <div class="form-group">
                                    <input id="time3" type="text" class="form-control">                   
                                </div>
                                <button type="button" class="button1" id = "b3" (click) = "button3Click()">Add to list</button>
                              </div>
                          </div>
                          <div class="card">
                              <div class="card-body">
                                  <h4 class="card-title">Lunges</h4>
                                  <p class="card-text">How many?</p>
                                  <div class="form-group">
                                      <input id="lunges" type="number" class="form-control">                   
                                  </div>
                                  <p class="card-text">What time?</p>
                                  <div class="form-group">
                                      <input id="time4" type="text" class="form-control">                   
                                  </div>
                                  <button type="button" class="button1" id = "b4" (click) = "button4Click()">Add to list</button>
                              </div>
                          </div>
                          <div class="card">
                              <div class="card-body">
                                  <h4 class="card-title">Bench Presses</h4>
                                  <p class="card-text">How many?</p>
                                  <div class="form-group">
                                      <input id="benchpressesnum" type="number" class="form-control">                   
                                  </div>
                                  <p class="card-text">At what weight? (in lbs)</p>
                                  <div class="form-group">
                                      <input id="benchpressesweight" type="number" class="form-control">                   
                                  </div>
                                  <p class="card-text">What time?</p>
                                  <div class="form-group">
                                      <input id="time5" type="text" class="form-control">                   
                                  </div>
                                  <button type="button" class="button1" id = "b5" (click) = "button5Click()">Add to list</button>
                              </div>
                          </div>
                      </div>
                      
                      <div class = "col-md-6">
                        <div class="card">
                            <div class="card-header">
                              Weight for today:
                            </div>
                            <div class="card-body" id = "card0">                
                            </div>
                        </div>
                          <div class="card">
                              <div class="card-header">
                                Exercises you've done:
                              </div>
                              <div class="card-body" id = "card1">
                                
                              </div>
                              <a class="btn btn-primary" (click) = "submitProgress()">Submit info into progress</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <footer>
              <font color = "white">&copy;2017 Eric Whaley, All Rights Reserved.</font>
          </footer> 