<div class="wrapper">
  <form class="form-register">       
      <h2 class="form-register-heading" >Registration</h2>
      Username Desired <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
      Email <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
      Password <input type="password" class="form-control" name="password" placeholder="Password" required=""/> 
      Confirm Password<input type="password" class="form-control" name="password" placeholder="Confirm Password" required=""/>      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>   
  </form>
</div>
<footer>
  <font color = "white">&copy;2017 Eric Whaley, All Rights Reserved.</font>
</footer> 